<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hand.comeeatme">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ComeEatMeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Comeeatme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${kakao_api_key}" />
        <activity
            android:name=".view.login.LogInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${kakao_api_key}" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.main.home.newpost.album.AlbumActivity" />
        <activity android:name=".view.main.home.newpost.crop.CropActivity" />
        <activity android:name=".view.main.home.hashtag.HashTagActivity" />
        <activity android:name=".view.main.home.search.SearchFragment" />
        <activity android:name=".view.main.user.FollowActivity"/>
        <activity android:name=".view.login.term.TermActivity"/>
        <activity android:name=".view.login.term.Term1Activity"/>
        <activity android:name=".view.login.term.Term2Activity"/>
        <activity android:name=".view.main.user.setting.SettingActivity"/>
        <activity android:name=".view.main.user.setting.MailActivity"/>
    </application>
</manifest>